[Unit]
Description=Appian Services
Requires=network.target
After=network.target

[Service]
Type=forking
User={{ appian_user }}
EnvironmentFile=-/etc/sysconfig/appian
ExecStart={{ appian_home }}/services/bin/start.sh -p {{ appian_system_manager_password }} -s all
ExecStop={{ appian_home }}/services/bin/stop.sh --cluster -p {{ appian_system_manager_password }}
TimeoutStartSec=300
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
