<Resource name="{{ appian_system_data_store_jndi }}"
	factory="com.appiancorp.tomcat.datasource.EncodedPasswordDataSourceFactory"
	type="javax.sql.DataSource"
	driverClassName="com.mysql.jdbc.Driver"
	url="jdbc:mysql://{{ appian_db_address }}:{{ appian_db_port }}/{{ appian_db_name }}?useOldAliasMetadataBehavior=true&amp;useUnicode=true&amp;characterEncoding=utf8&amp;disableMariaDbDriver"
	username="{{ appian_db_username }}"
	password="{{ encoded_appian_db_password.stdout_lines[42].split(" ")[3] }}"
	initialSize="5"
	maxActive="100"
	defaultTransactionIsolation="READ_COMMITTED"
	maxWait="30000"
	minIdle="5"
	minEvictableIdleTimeMillis="90000"
	timeBetweenEvictionRunsMillis="450000"
	validationQuery="SELECT 1"
	testOnBorrow="true"
/>
